:root {
    --primary-color: #291B5E;
    --secondary-color: #0994E1; 
    --accent-color: #e27d23; 
    --text-color: #0c0527; 
    --background-color: #57c8dc;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0 auto;
    padding: 0;
    width: 800px;
}

.roboto-thin {
        font-weight: 100;
        font-style: normal;
      }
         
h1 {
    color: var(--primary-color);
    margin: 1rem 0;
    font-weight: bold;
}

p {
    color: var(--text-color);
    line-height: 1.6;
    margin: 0.5rem 0;
}

a img {
    text-decoration: none;
    border: none;
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}

a:hover {
    color: var(--accent-color);
    text-decoration: underline;
}

.hero {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.hero img{
    width: 100%;
    display: block;
    height: auto;
}

.hero h1 {
    position:absolute;
    top: 10%;
    left: 0%;
    color: white;
    font-size: 3rem;
    text-shadow: 2px 2px 5px rgba(205, 186, 186, 0.8);
    z-index: 2;
    right: 0;
    text-align: center;
}

.hero article{
    position: absolute;
    left: 0%;
    background-color: rgba(237, 233, 233, 0.6);
    color: white;
    padding: 1rem;
    border-radius: 10px;
    max-width: 80%;
    right: 0; 
    margin: 0 auto; 
    top:40%; 
}

.hero article img {
    float: right;
    margin-left: 1rem;
    width: 30%;
    height: auto;
    border-radius: 5px;
}
